@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: whitesmoke;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side {
    position: relative;
    background: lightcoral;
    padding: 40px;
    animation-name: tirtho1;
    animation-duration: 8s;
    animation-iteration-count: 1;
    
}

@keyframes tirtho1 {
    0%{
        top:0px;
        left:0px;
    }
    25%{
        top: 250px;
        left: 0px;
    }
    75%{
        top: 250px;
        left: 250px;
    }
    100%{
        top: 0px;
        left: 250px;
    }

    
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

.profileText .imgBx 
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2
{
    font-size: 1em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
}
.profileText h2 span
{
    font-size: 0.6em;
    font-weight: 200;
}
.contactInfo
{
    padding-top: 40px;
}
.title
{
    color: blueviolet;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}

.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon
{
    display: inline-block;
    width: 20px;
    font-size: 15px;
    color: blue;
}
.contactInfo.education h5
{
    color: brown;
    font-weight: 600;
}
.contactInfo.languages .percent
{
    position: relative;
    width: 100%;
    height: 5px;
    background: black;
    display: block;
    margin-top: 5px;
}

.contactInfo.languages .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}

.container .right_side {
    position: relative;
    background: white;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: purple;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa
{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul
    {
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 600px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company 
    {
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }

    .skills .box
    {
        grid-template-columns: repeat(1,1fr);
    }

}

.icons .social::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: aqua;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.60, 0.265, 2);
}
.icons .icon:hover .social {
    top: -45px;
    opacity: 1.1;
    visibility: visible;
    pointer-events: auto;
}

.icons .icon:hover span,
.icons .icon:hover .social {
    text-shadow: 0px -1 0px rgba(0, 1, 1, 1);
}

.icons .facebook:hover ,
.icons .facebook:hover .social,
.icons .facebook:hover .social::before {
    background-color: darkgrey;
    color: skyblue;
}

.icons .linkedin:hover ,
.icons .linkedin:hover .social,
.icons .linkdedin:hover .social::before {
    background-color: darkgrey;
    color: blue;
}

.icons .github:hover ,
.icons .github:hover .social,
.icons .github:hover .social::before {
    background-color:  darkgrey;
    color: black;
}

.my_button{
    width: 80px;
    height: 30px;
    font-size: 20px;
    color: red;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: wheat;
    border: 1px solid black;
   
    
}